<div class="container">
  <h1 style="text-align: center"> Welcome to the Login page!! </h1>
  <div class="form-group" style="width: 30%; margin: 25px auto">
    <form action="/login" method="POST">
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block"> Submit </button>
      </div>
      <div class="form-group">
        <a href="/register"> Click here to register </a>
      </div>
    </form>
  </div>
  {{#if errorMessage}}
    <div class="alert alert-danger" role="alert" style=" width: 30%; margin: 25px auto">
      {{errorMessage}}
  {{/if}}
</div>
{{#if successMessage}}
  <div class="alert alert-success" role="alert" style=" width: 30%; margin: 25px auto">
    {{successMessage}}
  </div>
{{/if}}


</div>
