<div class="container" ng-controller="search">
  <h1 style="text-align: center"> Choose the categories </h1>
  <div class="form-group" style="width: 30%; margin: 25px auto">
    <form class="form-group">
      <div>
        <select name="subject" id="subject" style="margin-bottom: 15px" ng-model="subject" ng-click='showClass()'>
          <option value="">--Select Subject--</option>
          <option ng-repeat="sub in subjectList" value="[[sub.subjectName]]">[[sub.subjectName]]</option>
        </select>
      </div>
      <select name="class" id="class" style="margin-bottom: 15px" ng-model="class" placeholder="Class" ng-change='showBoard()' ng-show='class'>
        {{!-- <option value="" selected = "selected">--Select Class--</option> --}}
        <option value="" selected disabled hidden>Choose here</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="board" id="board" ng-model="board" ng-change='create()' ng-show='board'>
        <option value="">--Select Board--</option>
        <option value="CBSE">CBSE</option>
        <option value="ICSE">ICSE</option>
        <option value="JEEM">JEEMains</option>
        <option value="JEEA">JEEAdvanced</option>
        <option value="NEET">NEET</option>
      </select>

    </form>
  </div>

  <h2 style="text-align : center; margin-bottom:25px"> Question List </h2>
  <div class="row">
    <div class='col-sm-12'>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center">
              <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" />
            </th>
            <th>Question Name</th>
            <th>Subject ID</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ques in questionList">
            <td class="text-center">
              <input type="checkbox" ng-model="question.selected" ng-change="setSelectedquestion(question)" />
            </td>
            <td> [[ques.questionName]] </td>
            <td> [[ques.SID]] </td>
            </td>
            <td> <strong> [[ques.status]] </strong> </td>
            <td><a class="btn btn-primary" href="/question/update/[[ques._id]]" style='margin-right:15px'>Edit</a>
              </a>
              <button class="btn btn-danger" ng-click="delete(ques._id)" style='margin-right:15px'>Remove</button>
              <a class="btn btn-success" href="/question/verify/[[ques._id]]" style='margin-right:15px'>Verify</a>
              <a class="btn btn-info" href="/question/preview/[[ques._id]]" style='margin-right:15px'>Preview</a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  <a class="btn btn-primary" href="/question/add" style="margin-bottom : 20px"> Add question </a>
  <br>
  <a href="/dashboard"> Go back </a>
  </br>

</div>

<script>
  app.controller("search", function($scope) {


    getSubjects();

    function getSubjects() {
      $.get("/api/v1/uniqueSubject/all", function(data) {
        $scope.subjectList = data;
        $scope.$apply();
      });
    }

    $scope.class = false;
    $scope.board = false;
    $scope.topic = false;
    $scope.showClass = function() {
      $scope.class = true;
    }
    $scope.showBoard = function() {
      $scope.board = true;
    }

    $scope.showques = false;
    $scope.create = function() {

      $scope.topic = true;
      var tempBoard = $scope.board;
      console.log(typeof(tempBoard));
      var boardInitials = tempBoard.substring(0, 4);
      var temp = boardInitials.concat($scope.class);
      var temp2 = $scope.subject.substring(0, 4).toUpperCase();
      var SID = temp.concat(temp2);
      $scope.sid = SID;
      var id1 = {};
      id1.SID = SID;
      // id1.topicId = $scope.topicId;
      $.post("/api/v1/question/search2/", id1, function(results) {
        $scope.questionList = results;
        console.log(results);
        $scope.$apply();
      });

      $scope.showQues = function() {
        $scope.showques = true;
        // $scope.topic1 = $scope.topicId;


      }

    }
  });
</script>
