<div class="container">
  <h1 style="text-align: center"> Add a topic </h1>
      <div class="form-group" style="width: 30%; margin: 25px auto">
  <form action="/topic/add" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" name="topicID" placeholder="Topic ID">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="topicName" placeholder="Topic Name">
    </div>
    <div class="form-group">
      <button type="submit"class="btn btn-primary btn-lg btn-block"> Submit </button>
    </div>
    <div class="form-group">
    </div>
      <a href= "/"> Go back </a>
  </form>

  <br>
    <div class="alert alert-success" role="alert">
      {{successMessage}}
    </div>
  </br>
