<div class="container" ng-controller= "subject1">
  <h1 style="text-align: center"> Add a topic </h1>
      <div class="form-group" style="width: 30%; margin: 25px auto">
  <form action="/topic/add" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" name="topicID" placeholder="Topic ID">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="topicName" placeholder="Topic Name">
    </div>
    <div class="form-group">
      <a href="/topic/view"><button type="submit"class="btn btn-primary btn-lg btn-block"> Submit </button>
      </a>
    </div>
    <div >
    <select name="subject" id="subject" style = "margin-bottom: 15px" ng-model = "subject">
     <option ng-repeat="sub in subjectList" value="[[sub.subjectName]]">[[sub.subjectName]]</option>
   </select>
 </div>
    <select name="class" id="class" style = "margin-bottom: 15px" ng-model = "class">
     <option value="08">08</option>
     <option value="09">09</option>
     <option value="10">10</option>
     <option value="11">11</option>
     <option value="12">12</option>
   </select>
   <select name="board" id="board" ng-model = "board">
    <option value="CBSE">CBSE</option>
    <option value="ICSE">ICSE</option>
    <option value="JEEM">JEEMains</option>
    <option value="JEEA">JEEAdvanced</option>
    <option value="NEET">NEET</option>
  </select>
  <br/>
  <a href= "/topic/view"> Go back </a>
  </div>
</div>

  </form>

  <br>
  {{#if errorMessage}}
  <div class="alert alert-danger" role="alert" style=" width: 100%; margin: 25px auto">
      {{errorMessage}}
  {{/if}}
  </div>
  {{#if successMessage}}
  <div class="alert alert-success" role="alert" style=" width: 30%; margin: 25px auto">
      {{successMessage}}
  </div>
  {{/if}}
  </br>

  <script>

  app.controller("subject1", function($scope) {
    $scope.name = "@Checking";
    getSubjects();
    function getSubjects() {
      $.get("/api/v1/uniqueSubject/all",function(data){
        console.log(data);
        $scope.subjectList = data;
        $scope.$apply();
      });
    }
  });

  </script>
