
  <div ng-controller="topic1">
      <h2 style= "text-align : center; margin-bottom:25px"> Topic List </h2>
    <div class="row">
      <div class='col-sm-12'>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th class="text-center">
                <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" />
              </th>
              <th>Topic ID</th>
              <th>Topic Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="top in topicList">
              <td class="text-center">
                <input type="checkbox" ng-model="top.selected" ng-change="setSelectedtopic(top)"/>
              </td>
              <td> [[top.topicId]] </td>
              <td> [[top.topicName]] </td>
              <td>  <a href="/topic/update/[[top.topicId]]" class="btn btn-primary" style='margin-right:25px'>Edit</a>
              <button class="btn btn-danger" ng-click="delete(top.topicId)">Remove</button></td>

            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <a class= "btn btn-primary" href= "/topic/add" style = "margin-bottom : 20px"> Add topic </a>
    <br>
    <a href ="/dashboard" > Go back </a>
    </br>
  </div>

  <script>

  app.controller("topic1", function($scope) {
    $.get("/api/v1/topic/all",function(data){
      // console.log(data);
      $scope.topicList = data;
      $scope.$apply();
    });

    $scope.delete = function(id) {
      console.log(id);
      $.get("/api/v1/topic/delete/"+id,function(data){
        window.reload();
      });

      $.get("/api/v1/topicmongo/delete/"+ id, function (data) {
        console.log("Api delete");
      });
    }

    angular.module('plunker', ['ui.bootstrap']);

  });
  </script>
