<div class="container" ng-controller= "subject1">
  <h1 style="text-align: center"> Add a topic </h1>
      <div class="form-group" style="width: 30%; margin: 25px auto">
  <form class= "form-group">
    <div class="row">
      <select id = "topicId" ng-model = "topicId">
        <option class="col-md-6" ng-repeat= "top in topicList | filter: check" value = "[[top.topicId]]" > [[top.topicName]] </option>
      </select>
      <div class="col-md-1"></div>
      <input class="col-md-4" type = "text" autocomplete="off"  ng-model="check" style = "margin-bottom: 15px" placeholder= "Filter">
      <br>
    </div>

    <div>
        <select name="subject" id="subject" style = "margin-bottom: 15px" ng-model = "subject">
         <option ng-repeat="sub in subjectList" value="[[sub.subjectName]]">[[sub.subjectName]]</option>
       </select>
     </div>
    <select name="class" id="class" style = "margin-bottom: 15px" ng-model = "class" placeholder= "Class">
     <option value="08">08</option>
     <option value="09">09</option>
     <option value="10">10</option>
     <option value="11">11</option>
     <option value="12">12</option>
   </select>
   <select name="board" id="board" ng-model = "board">
    <option value="CBSE">CBSE</option>
    <option value="ICSE">ICSE</option>
    <option value="JEEM">JEEMains</option>
    <option value="JEEA">JEEAdvanced</option>
    <option value="NEET">NEET</option>
  </select>
  <div class="form-group">
    <button type="submit"class="btn btn-primary btn-lg btn-block" ng-click="add()"> Submit </button>
  </div>
  <br/>
  <a href= "/topic/view"> Go back </a>
  </div>
  <div class="alert alert-danger" role="alert" style=" width: 30%; margin: 25px auto" ng-show= "error">
      [[errorMessage]]
  </div>
  <div class="alert alert-success" role="alert" style=" width: 30%; margin: 25px auto" ng-show= "success">
      [[successMessage]]
  </div>
</div>

  </form>



  <script>

  app.controller("subject1", function($scope) {
    $scope.test = function() {

    }

    $.get("/api/v1/topic/all",function(data){
      console.log(data);
      $scope.topicList = data;
      $scope.$apply();
    });

    getSubjects();
    function getSubjects() {
      $.get("/api/v1/uniqueSubject/all",function(data){
        console.log(data);
        $scope.subjectList = data;
        $scope.$apply();
      });
    }

    $scope.add = function() {
      console.log("!");
      var boardInitials = $scope.board.substring(0,4);
      var temp = boardInitials.concat($scope.class);
      var temp2 = $scope.subject.substring(0,4).toUpperCase();
      var SID = temp.concat(temp2);
      console.log(SID);
      var data = {};
      data.topicId = $scope.topicId;
      data.SID = SID;
      console.log(data);
      $.post("/api/topicdropdown/add",data, function(result){
        console.log("Added successfully");
        if(result.errorMessage)
          $scope.error = true;
        else if(result.successMessage)
          $scope.success = true;
        $scope.errorMessage = result.errorMessage;
        $scope.successMessage = result.successMessage;
        $scope.$apply();
        // $("#message").show();
      });

    }
  });

  </script>
