<div class="container">
  <h1 style="text-align: center"> Updating a subject </h1>
      <div class="form-group" style="width: 30%; margin: 25px auto">
  <form action="/subject/update" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" name="newquestionID" placeholder="Subject ID" ng-model="test">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="newquestionName" placeholder=" New Subject Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="newoption1" placeholder=" New Subject Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="newoption2" placeholder=" New Subject Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="newoption3" placeholder=" New Subject Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="newoption4" placeholder=" New Subject Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="newlevel" placeholder=" New Subject Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="newsubject" placeholder=" New Subject Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="newtopic" placeholder=" New Subject Name">
    </div>
    <div class="form-group">
      <button type="submit"class="btn btn-primary btn-lg btn-block"> Submit </button>
    </div>
    <div class="form-group">
    </div>
    <a href= "/"> Go back </a>
  </form>

<br>
  <div class="alert alert-success" role="alert">
    {{successMessage}}
  </div>
</br>
<!-- $.getquestions
$scope.test = qid; -->
